body {
    background-color: #3c7751;
    color: #ddd;
}

legend {
    color: #eee !important;
}

#tweetBody {
    height: 100px !important;
    width: 500px !important;
}



.tweetForm {
    width: 500px !important;
}



#main {
    margin-bottom: 1cm;
}

.newAccConfirmation {
    font-size: 36px;
    color: #aaeeff;
}

table.table-style-one {
    width: 500px;
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #3A3A3A;
    border-collapse: collapse;
}
table.table-style-one th {
    border-width: 1px;
    padding: 8px;
    color: #fff;
    border-style: solid;
    border-color: #3A3A3A;
    background-color: #56b39e;
}
table.table-style-one td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #3A3A3A;
    background-color: #ffffff;
}